In [47]:
#Spam Detection - Using NLP - Publish Web Api an Herocu Platform -

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
df=pd.read_csv('F:/VIJAY SHINDE/Courses_undertaken/Data_Science_with_Python/1-DataScience-Technogeeks/DataScience-DailyLectures-Data/September-2022/14-09-2022-Model_Deployment_End_to_End/4-NLP-API-Spam_detector/spam.csv',encoding='latin-1')

In [50]:
df.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [51]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [52]:
df.isnull().sum()

class      0
message    0
dtype: int64

In [53]:
df.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   class    5572 non-null   object
 1   message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [55]:
#Lets converts words to Vector - by using Bag of Words -
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
df['class'] = df['class'].map({'ham': 0, 'spam': 1})
x=df['message']
y=df['class']
x=cv.fit_transform(x)

In [56]:
#Lets save this Transformed file in pickle format -
import joblib
joblib.dump(cv, 'transform.pkl')

['transform.pkl']

In [57]:
#Lets split the data in train_test_split parts -
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=42)

In [58]:
#Lets apply Naive Bayes Algorithm -
from sklearn.naive_bayes import MultinomialNB
mnbc=MultinomialNB()
mnbc.fit(X_train,y_train)
mnbc.score(X_test,y_test)
joblib.dump(mnbc,'train_md4.pkl')

['train_md4.pkl']

In [59]:
#Lets Evaluate the Model -
predict_mnbc=mnbc.predict(X_test)
from sklearn.metrics import accuracy_score,confusion_matrix
print(confusion_matrix(predict_mnbc,y_test))
print(accuracy_score(y_test,predict_mnbc))

[[1569   20]
 [  18  232]]
0.9793365959760739